annotated-doc
annotated-types
anyio
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
ecdsa
email-validator
fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio>=1.33.2
grpcio-status>=1.33.2
h11
httplib2
idna
motor
mediapipe==0.10.14
numpy
opencv-python-headless
passlib
proto-plus
protobuf>=4.25.8
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pillow
pymongo
pyparsing
python-dotenv
python-jose
python-multipart
requests
rsa
six
starlette
torch
torchvision
transformers
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
